**/*.git
**/.DS_Store
**/.sass-cache/
**/composer.lock
**/node_modules/
**/package-lock.json
**/secrets.json
**/wp-config.php
/bin/test.php
/blob-common/
/build/bob
/build/lib/vendor/
/lib/vendor/
/wp/lib/*.phar
/zephir/blobfolio/.temp/
/zephir/blobfolio/ext/
/zephir/blobfolio/compile-errors.log
/zephir/blobfolio/compile.log
