.blobfolio-about-logo {
	transition: color .3s ease;
}

.blobfolio-about-logo svg {
	transition: color .3s ease;
	display: block;
	width: 100%;
	height: auto;
}

#debug-log {
	display: block;
	width: 100%;
	height: 70vh;
	font-size: 12px;
	font-family: monospace;
	overflow-y: scroll;
	color: #fff;
	background-color: #23282d;
	padding: 10px;
	word-break: break-word;
	box-sizing: border-box;
}

@font-face {
	font-family: 'TotallyRealFont';
	src: url('../font/3197DB_0_0.woff2') format('woff2'),
		 url('../font/3197DB_0_0.woff') format('woff'),
		 url('../font/3197DB_0_0.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@media screen only and (min-width: 10em) {
	#debug-log {
		background: red;
	}
}



#debug-log .log-date { color: #cf694a; }
#debug-log .log-line { color: #f9ee9a; }
#debug-log .log-path { color: #919e6b; }
#debug-log .log-type { font-weight: bold; }

#debug-log .log-comment,
#debug-log .log-comment > * {
	font-style: italic;
	color: #787878!important;
	font-weight: normal;
}
#debug-log .log-comment { padding: 0 2em; }

#debug-log .log-happy {
	font-weight: bold;
	color: #0073aa;
}

#debug-log .log-entry:not(.log-comment) { margin-top: 1em; }
#debug-log .log-entry:first-child { margin-top: 0; }

#debug-log .log-entry:not(.log-comment) + .log-comment { margin-top: 1em; }

.debug-log-search-settings th {
	width: 65px;
	font-size: 11px;
	vertical-align: top;
	text-align: right;
	padding-right: 5px;
}

.debug-log-search-settings input[type=number] {
	width: 100px;
	display: block;
}

.wp-core-ui .button-evil,
.wp-core-ui .button-evil:hover,
.wp-core-ui .button-evil:active {
	background-color: #DC3232;
	color: #fff;
	border-color: #CB2323;
	box-shadow: 0 1px 0 #CB2323;
}

.wp-core-ui .button-evil:hover,
.wp-core-ui .button-evil:active {
	background-color: #E74141;
}